<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Blog website</title>
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body>
    <nav class="navbar">
      <h1>Daily Journal</h1>

      <div class="navigation">
        <ul>
        <li> <a href="/">Home</a> </li>
        <li> <a href="/about">About Us</a> </li>
        <li> <a href="/contact">Contact Us</a> </li>
        <li> <a href="/compose">Compose</a></li>
        </ul>

      </div>
    
    </nav>
